<!DOCTYPE html>
<html>
<head>
  <title>Occurro</title>
  <%= stylesheet_link_tag    "occurro/application", :media => "all" %>
  <%= javascript_include_tag "occurro/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
